<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale = 1" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/style.css" rel="stylesheet" />
</head>
<body>

    <!-- Navbar -->

    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">

            <div class="navbar-header">
                <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <a href="~/Home" class="navbar-brand">
                    <img src="~/images/logo.png" class="logo-size"/>
                </a>

            </div>

            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">

                    <li class="">
                        <a href="~/Home"> الرئيسية <i class="glyphicon glyphicon-home"></i></a>
                    </li>
                    <li class="">
                        <a href="~/Home/About"> حول الموقع <i class="glyphicon glyphicon-info-sign"></i></a>
                    </li>
                    <li class="">
                        <a href="~/Home/Contact"> إتصل بنا <i class="glyphicon glyphicon-envelope"></i></a>
                    </li>


                    <li class="">
                        @using (Html.BeginForm("Search", "Home", FormMethod.Post))
                        {
                            <input type="text" id="searchName" name="searchName" placeholder="...إبحث هنا" />
                        }
                    </li>

                </ul>

                <!--kkkkkkkkkkkkkkkk-->
                @Html.Partial("_Login")
                
            </div>
        </div>
    </nav>

    
    <div class="container">
        <div class="row" style="min-height:550px;">

            @RenderBody()

        </div>
    </div>


    <!-- Footer -->

    <footer class="myfooter">
        <div class="container">
            <div class="row">

                <div class="col-md-4">
                    <h3> من نحن؟ <i class="glyphicon glyphicon-question-sign"></i></h3>
                    <p>السلام عليكم ورحمة الله وبركاته، نظرا لصعوبة الوصول إلى دروس الدورة لغة البرمجة سي شارب بشكل تسلسلي، قررنا أن نجمعها داخل صفحة واحدة</p>
                </div>

                <div class="col-md-4">
                    <h3> روابط هامة <i class="glyphicon glyphicon-globe"></i></h3>
                    <ul>
                        <li>
                            <a href="#"> وضائف للقطاع العام </a>
                        </li>
                        <li>
                            <a href="#"> وضائف للقطاع الخاص </a>
                        </li>
                        <li>
                            <a href="#"> وضائف خارج البلاد </a>
                        </li>
                        <li>
                            <a href="#"> وضائف متنوعة </a>
                        </li>
                    </ul>
                </div>

                <div class="col-md-4">
                    <h3> تواصل معنا <i class="glyphicon glyphicon-envelope"></i></h3>
                    <ul>
                        <li>
                            <a href="#"> صفحتنا على الفايسبوك </a>
                        </li>
                        <li>
                            <a href="#"> تابعنا على تويتر </a>
                        </li>
                        <li>
                            <a href="#"> شاهدنا على الفايسبوك </a>
                        </li>
                        <li>
                            <a href="#"> إترك لنا رسالة </a>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
        <div class="subfooter">
            <span> &copy; 2020-جميع الحقوق محفوظة لموقعنا </span>
        </div>
    </footer>

    <script src="~/Scripts/jquery-3.5.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>

    <!-- Pour Faire l'appel sur Edit Job . -->
    @RenderSection("scripts", required: false)

</body>
</html>
