@font-face{
    font-family:myFont;
    src:url('font/GE-SS-Two-Bold.otf');
}

@font-face {
    font-family: myFont2;
    src: url('font/Droid-Arabic-Kufi.ttf');
}

body{
    padding-top: 100px;
    font-family: myFont2;
}

.navbar-default {
    background-color: #194d84;
    border-color: #e7e7e7;
}

.navbar-default .navbar-nav > li > a {
    color: #e7e7e7;
    font-family: myFont;
}

.navbar-default .navbar-nav > li > a :hover {
    color: #f9f6f6;
}
.nav > li {
    padding-top: 10px;
    height: 75px;
    position: relative;
    display: block;
}

.myfooter{
    background-color: cornflowerblue;
    padding-top:10px;
    font-family: myFont;
    text-align: justify;
}

.subfooter {
    background-color: #194d84;
    color: white;
    padding: 10px;
    text-align: center;
}

.myfooter a {
    color: azure;
}

.myfooter p {
    color: azure;
}

.myfooter h3, ul, p{
    margin-bottom: 20px;
    list-style-type: none;
    font-family: myFont2;
}

.logo-size
{
    width: 82px;
    height: 42px;
}

#searchName {
    width: 130px;
    border: 2px solid #ccc;
    border-radius: 5px;
    background-color: white;
    background-image: url('../images/download.jpg');
    background-repeat: no-repeat;
    background-position: 10px 10px;
    padding: 12px 20px 12px 12px;
    transition:width 0.4s ease-in-out;
}

#searchName:focus{
    width: 100%;
}
.img-size
{
    font-size: 90px;
}
.navbar-user
{
    padding: 10px;
    padding-bottom: 0px;
    width: 350px;
}

@media (min-width:992px)
{
    .col-md-3 {
        width: 23%;
    }
}
